<div class="card m-3">
  <div class="card-header">
    <h4>Calendar</h4>
  </div>

  <div class="card-body">
    <div class="row text-center">
      <!--CABECERA CALENDARIO-->
      <!----------------------------------------------------------------------------------------------------------------------->
      <div class="col-md-4">
        <div class="btn-group">

          <div class="botonTop" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Anterior
          </div>

          <div class="botonMedio" mwlCalendarToday [(viewDate)]="viewDate">
            Hoy
          </div>

          <div class="botonTop" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Siguiente
          </div>

        </div>
      </div>

      <!----------------------------------------------------------------------------------------------------------------------->
      <!--CALENDARIO-->
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="botonTop" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
            Mes
          </div>
          <div class="botonTop" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Semana
          </div>
          <div class="botonTop" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Día
          </div>
        </div>
      </div>

    </div>

    <br />


    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>


    <!---------------------------------------------------------------------------------------------->
    <!--EVENTOS (MODAL EDIT)-->
    <ng-template #modalContent let-close="close">
      <!--CABECERA-->
      <div class="modal-header">
        <h3> Agenda de cliente </h3>
        <button type="button" aria-label="Close" (click)="cerrarModal()" class="posicionBoton">
          <i class="far fa-times-circle coloresIcono"></i>
        </button>
        <!--<button class="btn btn-primary float-right" (click)="addEvent()">
          Añadir nuevo
        </button>-->
      </div>
      <div class="modal-body">
        <div class="form-row">
          <label class="h5" *ngFor="let paciente of cliente">{{paciente.nombre}} {{paciente.apellidos}}</label>
        </div>

        <div *ngFor="let calendario of agenda" class="col-12 p-0">
          <div class="form-group col-md-4 col-12 p-0" >
            <label for="selectEstado" class="negrita">Estado del paciente: </label>
            <select id="selectEstado" class="form-control" [formControl]="selected">
              <option selected>{{calendario.estado}}</option>
              <option *ngIf="calendario.estado!='Fuera de torno'" value="Fuera de torno">Fuera de torno</option>
              <option *ngIf="calendario.estado!='Sala de espera'" value="Sala de espera">Sala de espera</option>
              <option *ngIf="calendario.estado!='Pasarlo'" value="Pasarlo">Pasarlo</option>
              <option *ngIf="calendario.estado!='En sala'" value="En sala">En sala</option>
              <option *ngIf="calendario.estado!='Anulado'" value="Anulado">Anulado</option>
              <option *ngIf="calendario.estado!='No vino'" value="No vino">No vino</option>
              <option *ngIf="calendario.estado!='Finalizado'" value="Finalizado">Finalizado</option>
            </select>

            <label for="selectDonde" class="negrita">Dónde: </label>
            <select id="selectDonde" class="form-control" [(ngModel)]='calendario.donde'>
              <option value="despacho_1">DESPACHO 1</option>
              <option value="sala_1">SALA 1</option>
              <option value="sala_2">SALA 2</option>
              <option value="sala_3">SALA 3</option>
              <option value="sala_4">SALA 4</option>
              <option value="sala_5">SALA 5</option>
              <option value="sala_6">SALA 6</option>
              <option value="sala_7">SALA 7</option>
              <option value="sala_8">SALA 8</option>
              <option value="quirofano">QUIROFANO</option>
            </select>

            <label for="selectTipoConsulta" class="negrita">Tipo consulta: </label>
            <select id="selectTipoConsulta" class="form-control" [(ngModel)]='calendario.tipo_consulta'>
              <option value="cita">1ª CITA</option>
              <option value="tratamiento">TRATAMIENTO</option>
              <option value="consulta">CONSULTA</option>
              <option value="revision">REVISION</option>
              <option value="llamada">LLAMADA</option>
            </select>

            <label for="selectPosicion" class="negrita">Posición: </label>
            <select id="selectPosicion" class="form-control" [(ngModel)]='calendario.posicion'>
              <option value="prono">PRONO</option>
              <option value="supino">SUPINO</option>
              <option value="sentado">SENTADO</option>
            </select>

            <label for="selectProxCita" class="negrita">Proxima cita: </label>
            <select id="selectProxCita" class="form-control" [(ngModel)]='calendario.prox_cita'>
              <option value="3_dias">3 DIAS</option>
              <option value="1_semana">1 SEMANA</option>
              <option value="2_semana">2 SEMANA</option>
              <option value="3_semana">3 SEMANA</option>
              <option value="1_mes">1 MES</option>
              <option value="2_mes">2 MESES</option>
              <option value="3_mes">3 MESES</option>
            </select>

            <label for="selectZonaTratamiento" class="negrita">Zona tratamiento: </label>
            <select id="selectZonaTratamiento" class="form-control" [(ngModel)]='calendario.zona_tratamiento'>
              <option value="cervical">CERVICAL</option>
              <option value="dorsal">DORSAL</option>
              <option value="lumbar">LUMBAR</option>
              <option value="hombro">HOMBRO</option>
              <option value="codo">CODO</option>
              <option value="muñeca">MUÑECA</option>
              <option value="cadera">CADERA</option>
              <option value="rodilla">RODILLA</option>
              <option value="pie">PIE</option>
            </select>

            <label for="selectFisio" class="negrita">Fisioterapia: </label>
            <select id="selectFisio" class="form-control" [(ngModel)]='calendario.fisioterapia'>
              <option value="movilizacion_articular">MOVILIZACION ARTICULAR</option>
              <option value="indiba">INDIBA</option>
              <option value="uhf+m">UHF+M.FASCIA/MASAJE</option>
              <option value="ir+masaje+fascia">IR+MASAJE/M.FASCIA</option>
              <option value="electro_masaje">ELECTRO+MASAJE</option>
              <option value="neuromodulacion">NEUROMODULACION</option>
              <option value="uhf+pbot">UHF+PBOT</option>
              <option value="ir+pbot">IR+PBOT</option>
              <option value="electrosis_percutanea">ELECTROLISIS PERCUTANEA</option>
              <option value="neuromodulacion">NEUROMODULACION</option>
              <option value="pbot">PBOT</option>
            </select>

            <label for="selectCitaCon" class="negrita">Cita con: </label>
            <select id="selectCitaCon" class="form-control" [(ngModel)]='calendario.cita_con'>
              <option value="simon">SIMON</option>
              <option value="sebas">SEBAS</option>
              <option value="jose">JOSE LUIS</option>
              <option value="picato">PICATTO</option>
              <option value="guille">GUILLE</option>
            </select>
          </div>

        </div>
        <button class="btn btn-success" (click)="cambiarEstado(agendaCliente.id, agendaCliente)"
          *ngFor="let agendaCliente of agenda">CONFIRMAR</button>
      </div>

      <!--<div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID/Nombre</th>
                <th>Estado</th>
                <th>Donde</th>
                <th>Tipo Consulta</th>
                <th>Posicion</th>
                <th>Zona Tratamiento</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let calendario of agenda">
                <td>
                  <input type="text" class="form-control" [(ngModel)]="calendario.idCliente" (keyup)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.donde" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.estado" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.tipo_consulta" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.posicion" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.zona_tratamiento" (change)="refresh.next()" />
                </td>
              </tr>

              <tr>
                <th>Tipo tratamiento</th>
                <th>Cortes</th>
                <th>Precio</th>
                <th>Proxima cita</th>
                <th>Cita con</th>
                <th>Comentarios</th>
                <th></th>
              </tr>

              <tr *ngFor="let calendario of agenda">
                <td>
                  <input type="text" [(ngModel)]="calendario.tipo_tratamiento" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.cortes" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.precio" (change)="refresh.next()" />
                </td>

                <td>
                  <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="calendario.prox_cita"
                    (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" enableTime="true"
                    dateFormat="Y-m-d H:i" altFormat="F j, Y H:i" placeholder="Not set" [options]="datePickerOptions" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.cita_con" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.comentarios" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="color" [(ngModel)]="calendario.comentarios" (change)="refresh.next()" />
                </td>

                <td>
                  <button type="button" class="borrado" (click)="deleteEvent(event)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>-->
    </ng-template>

  </div>
</div>