<div class="card m-3">
  <div class="card-header">
    <h4>Calendar</h4>
  </div>

  <div class="card-body">
    <div class="row text-center">
      <!--CABECERA CALENDARIO-->
      <!----------------------------------------------------------------------------------------------------------------------->
      <div class="col-md-4">
        <div class="btn-group">

          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Previous
          </div>

          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>

          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </div>

        </div>
      </div>

      <!----------------------------------------------------------------------------------------------------------------------->
      <!--CALENDARIO-->
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            Month
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Week
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Day
          </div>
        </div>
      </div>

    </div>

    <br />


    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>


    <!---------------------------------------------------------------------------------------------->
    <!--EVENTOS (MODAL EDIT)-->
    <ng-template #modalContent let-close="close">
      <!--CABECERA-->
      <div class="modal-header">
        <h3> Edit events </h3>
        <button class="btn btn-primary float-right" (click)="addEvent()">
          Add new
        </button>
      </div>
      <!----------------------------------------------------------------------------------------------------------------------->
      <!--TABLA CON LOS EVENTOS-->
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID/Nombre</th>
                <th>Estado</th>
                <th>Donde</th>
                <th>Tipo Consulta</th>
                <th>Posicion</th>
                <th>Zona Tratamiento</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let calendario of agenda">
                <td>
                  <input type="text" class="form-control" [(ngModel)]="calendario.idCliente" (keyup)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.donde" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.estado" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.tipo_consulta" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.posicion" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.zona_tratamiento" (change)="refresh.next()" />
                </td>
              </tr>

              <tr>
                <th>Tipo tratamiento</th>
                <th>Cortes</th>
                <th>Precio</th>
                <th>Proxima cita</th>
                <th>Cita con</th>
                <th>Comentarios</th>
                <th></th>
              </tr>

              <tr *ngFor="let calendario of agenda">
                <td>
                  <input type="text" [(ngModel)]="calendario.tipo_tratamiento" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.cortes" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.precio" (change)="refresh.next()" />
                </td>

                <td>
                  <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="calendario.prox_cita"
                    (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" enableTime="true"
                    dateFormat="Y-m-d H:i" altFormat="F j, Y H:i" placeholder="Not set" [options]="datePickerOptions" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.cita_con" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.comentarios" (change)="refresh.next()" />
                </td>

                <!--<td>
                  <input type="color" [(ngModel)]="calendario.comentarios" (change)="refresh.next()" />
                </td>-->

                <!------------------------------------------------------------------------------------------------------>
                <!--DELETE-->
                <td>
                  <button type="button" class="borrado" (click)="deleteEvent(event)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>

  </div>
</div>