<div class="card m-3">
  <div class="card-header">
    <h4>Calendar</h4>
  </div>

  <div class="card-body">
    <div class="row text-center">
      <!--CABECERA CALENDARIO-->
      <!----------------------------------------------------------------------------------------------------------------------->
      <div class="col-md-4">
        <div class="btn-group">

          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Anterior
          </div>

          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Hoy
          </div>

          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Siguiente
          </div>

        </div>
      </div>

      <!----------------------------------------------------------------------------------------------------------------------->
      <!--CALENDARIO-->
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
            Mes
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Semana
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Día
          </div>
        </div>
      </div>

    </div>

    <br />


    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>


    <!---------------------------------------------------------------------------------------------->
    <!--EVENTOS (MODAL EDIT)-->
    <ng-template #modalContent let-close="close">
      <!--CABECERA-->
      <div class="modal-header">
        <h3> Agenda de cliente </h3>
        <button type="button" aria-label="Close" (click)="cerrarModal()" class="posicionBoton">
          <i class="far fa-times-circle coloresIcono"></i>
        </button>
        <!--<button class="btn btn-primary float-right" (click)="addEvent()">
          Añadir nuevo
        </button>-->
      </div>
      <div class="modal-body">
        <div class="form-row">
          <label class="h5" *ngFor="let paciente of cliente">{{paciente.nombre}} {{paciente.apellidos}}</label>
        </div>

        <div *ngFor="let calendario of agenda" class="col-12 p-0">
          <div class="form-group col-md-4 col-12 p-0" *ngIf="calendario.estado!='Fuera de torno'">
            <label for="selectEstado" class="negrita">Estado del paciente: </label>
            <select id="selectEstado" class="form-control" [formControl]="selected">
              <option selected>{{calendario.estado}}</option>
              <option *ngIf="calendario.estado!='Fuera de torno'" value="Fuera de torno">Fuera de torno</option>
              <option *ngIf="calendario.estado!='Sala de espera'" value="Sala de espera">Sala de espera</option>
              <option *ngIf="calendario.estado!='Pasarlo'" value="Pasarlo">Pasarlo</option>
              <option *ngIf="calendario.estado!='En sala'" value="En sala">En sala</option>
              <option *ngIf="calendario.estado!='Anulado'" value="Anulado">Anulado</option>
              <option *ngIf="calendario.estado!='No vino'" value="No vino">No vino</option>
              <option *ngIf="calendario.estado!='Finalizado'" value="Finalizado">Finalizado</option>
            </select>
          </div>

          <div class="form-group col-md-4 col-12 p-0" *ngIf="calendario.estado=='Fuera de torno'">
            <label for="selectEstado" class="negrita">Estado del paciente: </label>
            <select id="selectEstado" class="form-control" [formControl]="selected">
              <option selected>{{calendario.estado}}</option>
              <option *ngIf="calendario.estado!='Sala de espera'" value="Sala de espera">Sala de espera</option>
            </select>
          </div>
        </div>
        <button class="btn btn-success" (click)="cambiarEstado(agendaCliente.id)"
          *ngFor="let agendaCliente of agenda">CONFIRMAR</button>
      </div>

      <!--<div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID/Nombre</th>
                <th>Estado</th>
                <th>Donde</th>
                <th>Tipo Consulta</th>
                <th>Posicion</th>
                <th>Zona Tratamiento</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let calendario of agenda">
                <td>
                  <input type="text" class="form-control" [(ngModel)]="calendario.idCliente" (keyup)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.donde" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.estado" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.tipo_consulta" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.posicion" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.zona_tratamiento" (change)="refresh.next()" />
                </td>
              </tr>

              <tr>
                <th>Tipo tratamiento</th>
                <th>Cortes</th>
                <th>Precio</th>
                <th>Proxima cita</th>
                <th>Cita con</th>
                <th>Comentarios</th>
                <th></th>
              </tr>

              <tr *ngFor="let calendario of agenda">
                <td>
                  <input type="text" [(ngModel)]="calendario.tipo_tratamiento" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.cortes" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.precio" (change)="refresh.next()" />
                </td>

                <td>
                  <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="calendario.prox_cita"
                    (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" enableTime="true"
                    dateFormat="Y-m-d H:i" altFormat="F j, Y H:i" placeholder="Not set" [options]="datePickerOptions" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.cita_con" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="text" [(ngModel)]="calendario.comentarios" (change)="refresh.next()" />
                </td>

                <td>
                  <input type="color" [(ngModel)]="calendario.comentarios" (change)="refresh.next()" />
                </td>

                <td>
                  <button type="button" class="borrado" (click)="deleteEvent(event)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>-->
    </ng-template>

  </div>
</div>