<div class="wrapper d-flex align-items-center">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="logo">
        <img class="mb-4" [src]="logo" alt="">
      </div>
      <h1 class="h3 mb-2 font-weight-normal text-center">Iniciar sesión</h1>

      <label for="inputEmail" class="sr-only">Usuario</label>
      <input type="email" id="inputEmail" class="form-control mb-2" placeholder="Email" formControlName="email" required autofocus>

      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" formControlName="password" required>

      <button class="btn btn-lg text-white btn-block bg-01" type="submit">Acceder</button>
      <p class="mt-5 mb-3 text-center">&copy; 2021 Belife.io</p>
    </form>
  </div>
