<!-- Sidebar -->
<div class="bg-menu border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
                <!-- <div class="sidebar-heading mb-3 mt-3 text-center">O</div> -->
                <a routerLink="addCustomer" class="list-group-item list-group-item-action bg-menu text-white"><i
                                class="fas fa-user font-big"></i></a>
                <a routerLink="listCustomer" class="list-group-item list-group-item-action bg-menu text-white"><i
                                class="fas fa-users font-big"></i></a>
                <a routerLink="calendar" class="list-group-item list-group-item-action bg-menu text-white"><i
                                class="far fa-calendar-alt font-big"></i></a>
                <a routerLink="agenda" class="list-group-item list-group-item-action bg-menu text-white"><i
                                class="fas fa-clipboard font-big"></i></a>
                <a routerLink="registros" class="list-group-item list-group-item-action bg-menu text-white"><i
                                class="fas fa-registered font-big"></i></a>
        </div>
</div>
<!-- /#sidebar-wrapper -->